div#display {
    margin: 0;
    padding: 0;
    border: 0;
}

#newlog-form {
    background-color: white;
}

footer a {
    margin: 1rem 5rem;
    text-align: center;
}

#fertilize-yes:checked ~ #fertilizer-form {
    display: block;
}

#fertilize-no:checked ~ #fertilizer-form {
    display: none;
}